<!-- LOOK AT SECTION STARTS -->
<section id="LookAt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Look at our full menu in it there will definitely find something tasty for you.</h3>
            </div>
        </div>
    </div>
</section>
<!-- LOOK AT SECTION ENDS -->
<!-- NEMAS SECTION STARTS -->
<section id="Nemas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5>Nemas</h5>
                <p>Luctus nec ullamcorper mattis, pulvinar dapibus leo</p>
                <hr>
            </div>
        </div>
    </div>
</section>
<!-- NEMAS SECTION ENDS -->
<!-- MENU SECTION STARTS -->
<section id="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img1.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img2.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img3.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img4.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img5.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img6.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MENU SECTION ENDS -->
<!-- ROLLS SECTION STARTS -->
<section id="Rolls">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5>Rolls</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <hr>
            </div>
        </div>
    </div>
</section>
<!-- ROLLS SECTION ENDS -->
<!-- MENU SECTION STARTS -->
<section id="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img7.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img8.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img9.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img10.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img11.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img12.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MENU SECTION ENDS -->