    <!-- /* CARD HEADER STARTS */ -->
<section id="Card1Head">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>What tea to choose to dish</h1>
                <small class="text-muted">by Sergey Kosenko in News posted on October 12, 2018</small>
                <img src="~/Public/img/blog-img5.jpg">
            </div>
        </div>
    </div>
</section>
<!-- /* CARD HEADER ENDS */ -->
<!-- /* CARD CONTENT STARTS */ -->
<section id="Content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Subtitle</h3>
                <p>
                    Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.
                    Nulla
                    vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                    Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod
                    semper. Vestibulum id ligula porta felis euismod semper.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /* CARD CONTENT ENDS*/ -->
<!-- /* AUTHOR SECTION STARTS */ -->
<section id="Author">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="~/Public/img/Author.jpeg">
                <h3>Sergey Kosenko</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /* AUTHOR SECTION ENDS */ -->
<!-- /*  RELATED POSTS SECTION STARTS */ -->
<section id="RelatedPosts">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">

                <div class="card">
                    <img src="~/Public/img/blog-img3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <small class="text-muted">OCTOBER 12, 2018</small>

                        <h5 class="card-title">What tea to choose to dish</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural
                            lead-in to
                            additional content. This card has even longer content than the first to show that
                            equal
                            height action.
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">

                <div class="card">
                    <img src="~/Public/img/blog-img4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <small class="text-muted">OCTOBER 12, 2018</small>

                        <h5 class="card-title">What tea to choose to dish</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural
                            lead-in to
                            additional content. This card has even longer content than the first to show that
                            equal
                            height action.
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">

                <div class="card">
                    <img src="~/Public/img/blog-img5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <small class="text-muted">OCTOBER 12, 2018</small>

                        <h5 class="card-title">What tea to choose to dish</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural
                            lead-in to
                            additional content. This card has even longer content than the first to show that
                            equal
                            height action.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /* RELATED POSTS SECTION ENDS */ -->
