 <!-- NEWS&OFFERS SECTION STARTS -->
<section id="News">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">

                <div class="card" style="margin-top:95px;">
                   <img src="~/Public/img/blog-img5.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <small class="text-muted">OCTOBER 12, 2018</small>

                        <a href="Card1.html">
                            <h5 class="card-title">What tea to choose to dish</h5>
                        </a>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <i class="fas fa-user-tie"></i> Sergey Kosenko
                        </small>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">


                <div class="card" style="margin-top:95px;">
                   <img src="~/Public/img/blog-img4.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <small class="text-muted">OCTOBER 12, 2018</small>

                        <a href="Card2.html">
                            <h5 class="card-title">What tea to choose to dish</h5>
                        </a>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="fas fa-user-tie"></i> Sergey Kosenko</small>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">


                <div class="card" style="margin-top:95px;">
                   <img src="~/Public/img/blog-img3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <small class="text-muted">OCTOBER 12, 2018</small>

                        <a href="Card3.html">
                            <h5 class="card-title">What tea to choose to dish</h5>
                        </a>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="fas fa-user-tie"></i> Sergey Kosenko</small>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">


                <div class="card">
                   <img src="~/Public/img/blog-img2-370x270.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <small class="text-muted">OCTOBER 12, 2018</small>

                        <a href="Card4.html">
                            <h5 class="card-title">What tea to choose to dish</h5>
                        </a>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="fas fa-user-tie"></i> Sergey Kosenko</small>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">


                <div class="card">
                   <img src="~/Public/img/blog-img1-370x270.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <small class="text-muted">OCTOBER 12, 2018</small>

                        <a href="Card5.html">
                            <h5 class="card-title">What tea to choose to dish</h5>
                        </a>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="fas fa-user-tie"></i> Sergey Kosenko</small>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- NEWS&OFFERS SECTION ENDS -->