


<!-- SEC1 STARTS -->
<section id="SecOne">
    <div class="container">
        <div class="row">
            <div class="col-lg-4   text-center">
                <div class="row">
                    <div class="col-12"><img src="~/Public/img/menu-icon1.png"></div>
                    <div class="col-12 mt-4">
                        <h4>Nemas</h4>
                    </div>
                    <div class="col-12 mt-4">
                        <p style="font-size:18px;" class="sec1Parag">
                            Luctus nec ullamcorper mattis, pulvinar dapibus
                            leo
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  text-center">
                <div class="row">
                    <div class="col-12"><img src="~/Public/img/menu-icon2.png"></div>
                    <div class="col-12 mt-4">
                        <h4>Sushi</h4>
                    </div>
                    <div class="col-12 mt-4">
                        <p style="font-size:18px;" class="sec1Parag">
                            Luctus nec ullamcorper mattis, pulvinar dapibus
                            leo
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  text-center">
                <div class="row">
                    <div class="col-12"><img src="~/Public/img/menu-icon4.png"></div>
                    <div class="col-12 mt-4">
                        <h4>Rolls</h4>
                    </div>
                    <div class="col-12 mt-4">
                        <p style="font-size:18px;" class="sec1Parag">
                            Luctus nec ullamcorper mattis, pulvinar dapibus
                            leo
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SEC1 ENDS -->
<!-- MENU UPDATE SECTION STARTS -->
<section id="MenuUpdate">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="item">
                    <h2>MENU UPDATE</h2>
                    <span>Try New Menu</span>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MENU UPDATE SECTION ENDS -->
<!-- MENU SECTION STARTS -->
<section id="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img1.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img2.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img3.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img4.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img5.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="imgDiv">
                        <img src="~/Public/img/menu-img6.jpg" alt="">
                    </div>
                    <div class="contentDiv">
                        <h5 class="menu_item_title" style="color:#ffffff;">
                            Sausage Cassoulet<i class="line"
                                                style="border-color:#ffffff;"></i>
                        </h5>
                        <h3 style="color:white">-----------------------</h3>
                        <p class="menu_item_ingredients" style="color:rgba(255,255,255,0.9);">
                            Mushroom, Veggie,
                            White Sources, Fish, Carrot
                        </p><span class="menu_item_price" style="color:#ef343a;">
                            $
                            36
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 itemBtn">
                <button class=" showAllMenu" style="margin-top:45px; margin-bottom:30px;">SHOW FULL MENU</button>
            </div>
        </div>
    </div>
</section>
<!-- MENU SECTION ENDS -->
<!-- RESERVE SECTION STARTS -->
<section id="Reserve">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="phone">PHONE: +1 235 654 54 99</h4>
                        <h1>Reserve a Table</h1>
                        <hr class="ReserveHr">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <img src="~/Public/img/icons8-rice-bowl-100.png">
                        <h4>Amazing Dishes</h4>
                        <p>Lorem ipsum dosectetur adipisicing elit sed do orem ipsum dolor</p>
                    </div>


                    <div class="col-lg-6 text-center">
                        <img src="~/Public/img/icons8-sofa-100 (1).png">
                        <h4>Stylish Interior</h4>
                        <p>Lorem ipsum dosectetur adipisicing elit sed do orem ipsum dolor</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="reserveForm">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Name*</label>
                                <input type="Name" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputPassword4">Email*</label>
                                <input type="text" class="form-control" id="inputPassword4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputPassword4">Phone*</label>
                                <input type="text" class="form-control" id="inputPassword4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputAddress">Date*</label>
                                <input type="date" class="form-control" id="inputAddress">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Time*</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputAddress">Seats*</label>
                                <input type="number" min="1" class="form-control" id="inputAddress">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="exampleFormControlTextarea2">Special Requests</label>
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2"
                                          rows="5"></textarea>
                            </div>
                        </div>



                        <button type="submit" style="margin: 0 auto;display:block" class="showAllMenu">
                            Book
                            Now
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- RESERVE SECTION ENDS -->
<!-- ABOUT SECTION STARTS -->
<section id="About">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>About Our</h2>
                        <h1>Restaurant</h1>
                        <hr class="AboutHr">
                        <p>
                            Cum sociis natoque penatibus et magnis dis parturient montes. Vestibulum id ligula porta
                            felis euismod semper. Vestibulum id ligula porta felis euismod semper. Aliquam et elit
                            eu nunc rhoncus viverra quis at felis et netus et malesuada fames ac turpis egestas
                        </p>

                        <div class="col-lg-12 itemBtn">
                            <button class="readMore">READ MORE</button>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="imgDivs">

                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <div class="imgDivLeft">
                                <img src="~/Public/img/home-about1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ABOUT SECTION ENDS -->
<!-- TEA SECTION STARTS -->
<section id="Tea">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="tasteOfMood">Taste of mood</h2>
                <h1>New Flavors of Tea</h1>
                <hr>
                <div class="col-lg-12 itemBtn">
                    <button class="chooseTea">Choose Tea</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TEA SECTION ENDS  -->
<!-- NEWS&OFFERS SECTION STARTS -->
<section id="News">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="NewsOffers1">News & Offers</h2>
                <h1 class="NewsOffers2">What’s new?</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">

                <div class="card">
                    <img src="~/Public/img/blog-img5.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <small class="text-muted">OCTOBER 12, 2018</small>

                        <a href="Card1.html">
                            <h5 class="card-title">What tea to choose to dish</h5>
                        </a>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <i class="fas fa-user-tie"></i> Sergey Kosenko
                        </small>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">


                <div class="card">
                    <img src="~/Public/img/blog-img4.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <small class="text-muted">OCTOBER 12, 2018</small>

                        <a href="Card2.html">
                            <h5 class="card-title">What tea to choose to dish</h5>
                        </a>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="fas fa-user-tie"></i> Sergey Kosenko</small>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">


                <div class="card">
                    <img src="~/Public/img/blog-img3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <small class="text-muted">OCTOBER 12, 2018</small>

                        <a href="Card3.html"> <h5 class="card-title">What tea to choose to dish</h5></a>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="fas fa-user-tie"></i> Sergey Kosenko</small>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- NEWS&OFFERS SECTION ENDS -->
