<!-- JOIN US SECTION STARTS -->
<section id="JoinUs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>Address</h5>
                <p>15 Name Street, Honkong China, 256445</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>Phones</h5>
                <p>+1 265-56-65-44; +1 648-513-65-11</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>Join Us</h5>
                <a class="link" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="link" href=""><i class="fab fa-instagram" style="padding-left:22px;"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- JOIN US SECTION ENDS -->
<!-- RESERVE TABLE SECTION STARTS -->
<section id="ReserveTable">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5>Did you like it?</h5>
                <h1>Reserve a table</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="reserveForm">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Name*</label>
                                <input type="Name" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputPassword4">Email*</label>
                                <input type="text" class="form-control" id="inputPassword4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputPassword4">Phone*</label>
                                <input type="text" class="form-control" id="inputPassword4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputAddress">Date*</label>
                                <input type="date" class="form-control" id="inputAddress">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Time*</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputAddress">Seats*</label>
                                <input type="number" min="1" class="form-control" id="inputAddress">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="exampleFormControlTextarea2">Special Requests</label>
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2"
                                          rows="5"></textarea>
                            </div>
                        </div>

                        <button type="submit"
                                style="margin: 0 auto;display:block ;margin-top: 15px; margin-bottom: 80px;"
                                class="showAllMenu">
                            Book
                            Now
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- RESERVE TABLE SECTION ENDS -->
