<!-- SECTION ONE STARTS -->
<section id="Section1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h5 style="margin-top:80px; margin-bottom: 80px">
                    Duis sed odio sit amet nibh vulputate cursus a sit
                    amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio
                </h5>
            </div>
            <div class="col-lg-4">
                <p style="margin-top:80px; margin-bottom: 80px">
                    Lorem Ipsn gravida nibh vel velit auctor
                    aliquet.Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit.
                    Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam
                    nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat lorem ipsum
                    consequat auctor eu in elit. Class aptent taciti aliquet ad litora torquent per conubia nostra,
                    per inceptos himenaeos. Mauris in erat justo. Nullam ac urna nihil eu felis dapibus condimentum
                    sit amet a augue
                </p>
            </div>
            <div class="col-lg-4"><img style="margin-top:80px; margin-bottom: 80px" src="~/Public/img/about-img1.jpg"></div>
        </div>
    </div>
</section>
<!-- SECTION ONE ENDS -->
<!-- CUSTOM SECTION STARTS -->
<section id="Custom">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="~/Public/img/icons8-rice-bowl-100.png">
                <h5>Amazing Dishes</h5>
                <p>Lorem ipsum dosectetur adipisicing elit sed do orem ipsum dolor</p>
            </div>
            <div class="col-lg-4 text-center">
                <img src="~/Public/img/icons8-sofa-100 (1).png">
                <h5>Amazing Dishes</h5>
                <p>Lorem ipsum dosectetur adipisicing elit sed do orem ipsum dolor</p>
            </div>
            <div class="col-lg-4 text-center">
                <img src="~/Public/img/icons8-service-bell-100.png">
                <h5>Amazing Dishes</h5>
                <p>Lorem ipsum dosectetur adipisicing elit sed do orem ipsum dolor</p>
            </div>
        </div>
    </div>
</section>
<!-- CUSTOM SECTION ENDS -->
<!-- GALLERY SECTION STARTS -->
<section id="Gallery" style="padding-bottom:70px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="w3-content w3-display-container">
                        <img class="mySlides" src="~/Public/img/gallery1.jpg" style="width:100%">
                        <img class="mySlides" src="~/Public/img/gallery2.jpg" style="width:100%">
                        <img class="mySlides" src="~/Public/img/gallery3.jpg" style="width:100%">
                        <img class="mySlides" src="~/Public/img/gallery4.jpg" style="width:100%">
                        <img class="mySlides" src="~/Public/img/gallery5.jpg" style="width:100%">
                        <img class="mySlides" src="~/Public/img/gallery6.jpg" style="width:100%">

                        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- GALLERY SECTION ENDS -->
<!-- RESERVE SECTION STARTS -->
<section id="Reserve2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="phone2">PHONE: +1 235 654 54 99</h4>
                <h1 class="ReserveTitle2">Reserve a Table</h1>
                <hr class="ReserveHr2">
                <div class="col-lg-12 itemBtn">
                    <button class=" showAllMenu2">Choose Tea</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- RESERVE SECTION ENDS -->
